<div id="date-signup">
    <!-- <h1 id="title"> Inscribirse a Speed Date</h1> -->
    <div id="mainContainer">
        <div id="formz">
            <div class="group">
                <label class="form-label lbl">Tu nombre</label>
                <input class="form-control fld">
            </div>
            <div class="group">
                <label class="form-label lbl">Speed Date: </label>
                <select class="form-select slct" aria-label="Escoja un Speed Date">
                    <option selected>Speed Dates Disponibles</option>
                    <option value="1">Google: Front-end</option>
                    <option value="2">FaceBook: Back-end</option>
                    <option value="3">Amazon: Bases de Datos</option>
                    <option value="4">Twitter: Full-stack</option>
                </select>
            </div>
            <div class="group">
                <label class="form-label lbl">Nombre de tu Reclutador/Contacto</label>
                <input class="form-control fld">
            </div>
            <div id="subH">
                <p class="subs">Tus medios para que te contacten</p>
            </div>
            <div class="group">
                <label class="form-label lbl">Teléfono</label>
                <input class="form-control fld">
            </div>
            <div class="group">
                <label class="form-label lbl">Email</label>
                <input class="form-control fld">
            </div>
            <div class="group">
                <label class="form-label lbl">Skype</label>
                <input class="form-control fld">
            </div>
        </div>
        <div id="ftr">
            <button class="btn btn-success">
                Inscribirse
            </button>
        </div>
    </div>
    <app-back-btn></app-back-btn>
</div>