<div id="survey">
    <h1 id="title">Evaluar Experiencia</h1>
    <div id="mainContainer">
        <div id="formz">
            <div class="group">
                <label class="form-label lbl">Tu nombre</label>
                <input class="form-control fld">
            </div>
            <div class="group">
                <label class="form-label lbl">Tu rol</label>
                <div class="form-check op">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Talento
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Head Hunter
                    </label>
                </div>
            </div>
            <div class="group">
                <label class="form-label lbl">Nombre (o empresa) del Tercero Por Evaluar</label>
                <input class="form-control fld">
            </div>
            <div class="group">
                <label class="form-label lbl">Su rol</label>
                <div class="form-check op">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Talento
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Head Hunter
                    </label>
                </div>
            </div>
            <div class="group">
                <label class="form-label lbl txt">Evalúa tu experiencia con esta Persona/Empresa:  </label>
                <div id="stars">
                    <fa-icon [icon]="faStar" class="str"></fa-icon>
                    <fa-icon [icon]="faStar" class="str"></fa-icon>
                    <fa-icon [icon]="faStar" class="str"></fa-icon>
                    <fa-icon [icon]="faStar" class="str"></fa-icon>
                    <fa-icon [icon]="faStar" class="str"></fa-icon>
                </div>
            </div>
            <div class="group">
                <label class="form-label lbl">Comentarios</label>
                <input class="form-control fld">
            </div>
        </div>
        <br>
    </div>
    <div id="ftr">
        <button class="btn btn-success">
            Crear Cita
        </button>
    </div>
    <app-back-btn></app-back-btn>
</div>