<div id="makeDate">
    <h1 id="title">Establecer Cita</h1>
    <div id="mainContainer">
        <div id="formz">
            <div class="group">
                <label class="form-label lbl">Tu nombre</label>
                <input class="form-control fld">
            </div>
            <div class="group">
                <label class="form-label lbl">Tu rol</label>
                <div class="form-check op">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Talento
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Head Hunter
                    </label>
                </div>
            </div>
            <div class="group">
                <label class="form-label lbl">Nombre del Invitado</label>
                <input class="form-control fld">
            </div>
            <div class="group">
                <label class="form-label lbl">Su rol</label>
                <div class="form-check op">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Talento
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Head Hunter
                    </label>
                </div>
            </div>
            <div class="group">
                <label class="form-label lbl">Fecha y Hora del Evento</label>
                <input class="form-control fld">
            </div>
            <div id="subH">
                <p class="subs">Tus Medios de Contacto</p>
            </div>
            <div class="group">
                <label class="form-label lbl">Teléfono</label>
                <input class="form-control fld">
            </div>
            <div class="group">
                <label class="form-label lbl">Email</label>
                <input class="form-control fld">
            </div>
            <div class="group">
                <label class="form-label lbl">Skype</label>
                <input class="form-control fld">
            </div>
        </div>
        <br>
    </div>
    <div id="ftr">
        <button class="btn btn-success">
            Crear Cita
        </button>
    </div>
</div>