#signup #title {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}
#signup #mainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
#signup #mainContainer #formz {
  background-color: #fff;
  max-width: 600px;
  margin: auto;
  padding: 50px 70px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  width: 50%;
}

.lbl {
  font-weight: bold;
}
